recursos/LaTeX/
*.dvi
*.aux
*.lot
*.synctex
*.synctex(busy)
*.toc
memoria/memoria.pdf
memoria/memoria.log
memoria/memoria.prj
memoria/memoria.prj.bak
memoria/ejemploVaadin/eclipse/.metadata/
memoria/ejemploVaadin/eclipse/vaadinExample/.settings/
memoria/ejemploVaadin/eclipse/.recommenders/
*.bak
memoria/memoriaIgnacio.prj

memoria/memoria\.lof

memoria/memoria\.maf

memoria/memoria\.mtc1

memoria/memoria\.mtc2

memoria/memoria\.mtc3

memoria/memoria\.synctex\.gz
