recursos/LaTeX/
*.dvi
*.aux
*.lot
*.synctex
*.synctex(busy)
*.toc
memoria/memoria.pdf
memoria/memoria.log
memoria/memoria.prj
memoria/memoria.prj.bak
memoria/ejemploVaadin/eclipse/.metadata/
memoria/ejemploVaadin/eclipse/vaadinExample/.settings/
